# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT
JWT_ISSUER=
JWT_SIGNING_KEY_AC=
JWT_SIGNING_KEY_RF=
JWT_EXPIRATION_MS_AC=3600000
JWT_EXPIRATION_MS_RF=604800000

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# Gemini
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tin38618@gmail.com
MAIL_PASSWORD=broy xlao isdb sbxl
MAIL_FROM=tin38618@gmail.com

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=http://localhost:8081/v1/auth/google/callback
GOOGLE_OAUTH_FRONTEND_REDIRECT=http://localhost:5173/login